body, form {
  margin: 0;
  padding: 0;
}
html {
  background-color: steelblue;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.125em; /*18 / 16*/
  line-height: 1.222em; /*22 / 18*/
}
body {
  padding-top: 2.444em; /*44 / 18*/
  padding-right: 1.222em; /*22 / 18*/
  padding-left: 1.222em; /*22 / 18*/
}
h1,
h2,
h3 {
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 3.129em;
}
h2 {
  font-size: 2.353em;
}
h3 {
  font-size: 1.769em;
  text-decoration: underline;
  text-align: center;
}
li {
  font-weight: 900;
  text-align: center;
}
#navigation ul {
  list-style-type: none;
  padding-bottom: 0;
}
#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#navigation li {
  float: left;
  width: 33.33333%;
}
#navigation a {
  display: block;
  width: 100%;
  text-allign: center;
  text-decoration: none;
  color: white;
  background-color: lightcoral;
}
#content section,
#content h2,
#header h1 {
  color: aliceblue;
}
#content figcaption {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1.125em; /*18 / 16*/
  line-height: 1.222em; /*22 / 18*/
}
img {
  display: block;
  max-width: 100%;
}
