body, form {
  margin: 0;
  padding: 0;
}
html {
  background-color: dodgerblue;
  font-size: 1.125em; /*18 / 16*/
  line-height: 1.222em; /*22 / 18*/

}
body {
  padding-top: 2.444em; /*44 / 18*/
  padding-right: 1.222em; /*22 / 18*/
  padding-left: 1.222em; /*22 / 18*/
}
h1,
h2,
h3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
li {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}
img {
  display: block;
  max-width: 100%;
}
