/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,
nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,
menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Base Styles */
body,
form {
  margin: 0;
  padding: 0;
}
html {
  background-color: #778899;
  font-family: Times;
  font-size: 1.125em; /*18 / 16*/
  line-height: 1.222em; /*22 / 18*/

}
body {
  padding-top: 3.66em; /*44 / 18*/
  padding-right: 1.222em; /*22 / 18*/
  padding-left: 1.222em; /*22 / 18*/
}
h1,
h2,
h3 {
  font-weight: bold;
  color: black;
}
h1,
h2,
p {
  padding-bottom: 1.22em; /* 22 / 18 */
}
p {
  padding-top: 0.444em; /* 8 / 18 */
}
h1 {
  font-size: 3.157em; /* 56.82 / 18 */
  line-height: 1.02em; /* 57.95 / 56.82 */
  padding-bottom: 0.38em; /* 22 / 56.82 */
}
h2 {
  font-size: 2.369em; /* 42.64 / 18 */
  line-height: 1.032em; /* 44 / 42.64 */
  padding-bottom: 0.51em; /* 22 / 42.64 */
}
h3 {
  font-size: 1.777em; /* 32 / 18 */
  line-height: 1.063em; /* 34 / 32 */
  padding-bottom: 0.68em; /* 22 / 32 */
}
#content figcaption {
  font-size: 1.125em; /*18 / 16*/
  line-height: 1.222em; /*22 / 18*/
  font-weight: 900;
  padding-bottom: 0.68em; /* 22 / 18 */
}
#content section {
  color: black;
}
#content2 section {
  padding-bottom: 1.22em; /* 22 / 18 */
}
#footer {
  color: black;
  font-weight: 900;
  padding-top: 0.444em; /*8 / 18*/
}
li {
  font-weight: 900;
  list-style-type: disc;
}
ul li ul li {
  list-style-type: circle;
  list-style-position: inside;
}
#content p {
  max-width: 38.89em; /*700px / 18 */
  font-weight: 900;
}

/* Modular Styles */
#navigation ul {
  list-style-type: none;
  padding-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

/* Layout Styles */
#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#navigation li {
  list-style-type: none;
  float: left;
  width: 33.33%;
}
#navigation a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #8B0000;
  padding-top: 0.555em; /*10 / 18*/
  padding-bottom: 0.555em; /*10 / 18*/
}
#navigation a:hover {
  background-color: white;
}
/* Responsive Media */
img,
video {
  display: block;
  max-width: 100%;
  border: dashed;
}
/* State Styles */
@media screen and (min-width: 375px) {
  body {
    padding-right: 11.73%; /*44 /375 */
    padding-left: 11.73%; /*44 /375 */
  }
}
/*increase font size for larger screens*/
@media screen and (min-width: 640px) {
  html {
    font-size: 1.25em; /* 20 / 16 */
  }
}
/* Two column grid for all three pages*/
@media screen and (min-width: 860px) {
  /* 700 px grid with 50px margins
  Columns are 200px
  Gutter are 105px
  Primary mod 280px
  secondary mod 200px */
  body {
    padding-right: 5.81%; /* 50 / 860 */
    padding-left: 5.81%; /* 50 / 860 */
  }
  #introduction,
  #facts,
  #goals,
  #pictures,
  #video,
  #connect {
    width: 40%; /* 280 / 700 */
    float: left;
  }
  #facts,
  #pictures,
  #connect {
    float: left;
    margin-left: 15%; /* 105 / 700 */
  }
  .flexbox #introduction,
  .flexbox #facts,
  .flexbox #goals,
  .flexbox #pictures,
  .flexbox #connect,
  .flexbox #video {
    float: left;
    display: flex;
    flex-wrap: wrap;
  }
  footer {
    clear: both;
  }
  /* 700 px grid with 50px margins
    Columns are 200px
    Gutters are 105px
    Primary mod 280px
    secondary mod 280px
    */
  #education,
  #work,
  #accomplish,
  #traits {
    float: left;
    width: 40%; /*280 / 700 */
  }
  #work,
  #traits {
    margin-left: 15%; /* 105 / 700 */
  }
  .flexbox #education,
  .flexbox #work,
  .flexbox #accomplish,
  .flexbox #traits {
    float: left;
    display: flex;
    flex-wrap: wrap;
  }
  /* 700 px grid with 50px margins
  Columns are 200px
  Gutter are 50px
  Primary mod 310px
  secondary mod 200px */
  #javaprojects,
  #cplusplusprojects {
    float: left;
    width: 44.28%; /* 310 / 700 */
  }
  #cplusplusprojects {
    margin-left: 7.14%; /* 50 / 700 */
  }

}
